/* about-animations.module.css */
.transition-container {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.aboutContainer.transition-container {
  opacity: 1;
  transform: translateY(0);
}
