.homeContainer {
  height: 90vh;
  width: 90%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topRight {
  margin-top: 45%;
  padding-left: 40%;
  width: 75%;
}

.bottomLeft {
  width: 100%;
  padding: 0 5%;
  margin-left: 15%;
  margin-bottom: 45%;
}

p.name {
  font-family: 'Ogg Medium', sans-serif;
  font-size: 19px;
}

.bottomLeft p {
  width: 30%;
  margin-top: 10px;
}

.homePhraseContainer {
  width: 90%;
  padding: 5% 20%;
  position: relative; 
}

.homePhrase {
  font-size: 80px;
  line-height: 90px;
  position: relative;
}


.homeSpan {
  position: relative;
}

.homeBackground {
  width: 50%; 
}


.homeSpan::after {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 15px;
  left: 0;
  height: 1px; 
  background-color: black; 
  animation: lineAnimation 0.9s ease-in-out; 
  animation-fill-mode: both;
}

.homeSpan:nth-child(2)::after {
  animation-delay: 0.6s; 
}


@keyframes lineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.arrowContainer {
  width: 100%;
  text-align: center;
  align-items: center;
}

.arrowDown {
  width: 100%;
}

.arrowDown img {
  height: 20px;
  width: 35px;
  display: inline-block;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.3s ease, color 0.3s ease;
}

.arrowDown img:hover {
  animation: bounce 1s infinite;
}

.arrowDownLink {
  display: inline-block;
  text-decoration: none; 
  transition: transform 0.9s ease, color 0.3s ease;
}

.arrowDownLink .arrowDown img {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 414px) and (max-height: 896px) {
  .homeContainer {
    margin: 0 5px;
    width: 100%;
  }

  .topRight {
    margin-top: 10%;
    padding-left: 10%;
    width: 70%;
  }

  .bottomLeft {
    margin-left: 0;
    margin-bottom: 10%;
    width: 70%;
  }

  .bottomLeft p {
    width: 100%;
  }

  .homePhrase {
    font-size: 50px;
    line-height: 70px;
    width: 70%;
  }
}



@media (min-width: 1853px) {
  .homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
  }

  .homeContainer {
    margin: 0;
  }
}

@media only screen 
  and (min-device-width: 428px) 
  and (max-device-width: 932px) 
  and (-webkit-device-pixel-ratio: 3) {

  body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .homeContainer {
    margin: 0;
    margin-left: 5%;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    /* box-sizing: border-box;  */
    /* width: 100%; 
    */
  }

  .topRight {
    margin-top: 0;
    padding-left: 0;
    width: 60%;
  }

  .topRight p {
    font-size: 15px;
  }

  .bottomLeft {
    /* margin-left: 10px;
    margin-bottom: 10px; */
    width: 100%;
    margin-top: 5%;
  }

  .bottomLeft p {
    width: 100%;
    font-size: 13px;
  }

  p.name {
    font-size: 15px;
  }

  .homePhraseContainer {
    width: 100%;
    /* margin-top: 15%; */
    margin-top: 10px;
    /* padding: 20%; */
  }

  .homePhrase {
    width: 100%;
    font-size: 50px;
    line-height: 60px;
  }

  .homeBackground {
    width: 100%; 
  }
}

/* iPhone SE (2nd and 3rd gen) specific styles */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  
  body, html {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .homeContainer {
    height: 100%; 
    width: 100%; 
    margin: 0; 
    padding: 0 5%; 
    box-sizing: border-box; 
  }

  .topRight {
    margin-top: 0; 
    padding: 0; 
    padding-right: 15%;
    width: 80%; 
    box-sizing: border-box; 
    font-size: 10px;
  }

  .bottomLeft {
    width: 100%; 
    padding: 0 15%;
    margin-left: 0; 
    margin-bottom: 20%;
    box-sizing: border-box; 
  }

  .bottomLeft p {
    width: 45%;
    font-size: 10px; 
  }

  .homePhraseContainer {
    width: 100%;
    padding: 10% 13%; 
  }

  .homePhrase {
    font-size: 25px;
    line-height: 30px; 
  }

  .homeBackground {
    width: 100%; 
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-device-pixel-ratio: 2) {
  .homeContainer {
    height: 100%; 
    width: 100%; 
    /* margin: 0 auto;  */
    padding-top: 10%; 
    box-sizing: border-box; 
  }

  .topRight {
    /* margin-top: 0;  */
    margin: 0 auto;
    /* padding: 0;  */
    /* padding-right: 15%; */
    width: 70%; 
    box-sizing: border-box; 
    font-size: 13px;
  }

  .bottomLeft {
    width: 100%; 
    padding: 0 15%;
    margin-left: 0; 
    margin-top: 5%;
    /* margin-bottom: 20%; */
    box-sizing: border-box; 
  }

  .bottomLeft p {
    width: 65%;
    font-size: 13px; 
  }

  p.name {
    font-size: 15px;
  }

  .homePhraseContainer {
    width: 100%;
    /* padding: 10% 13%;  */
  }

  .homePhrase {
    font-size: 45px;
    line-height: 50px; 
  }

  .homeBackground {
    width: 100%; 
  }
}
