.homeContainer {
  /* background-image: url(../../assets/img/1.png);
  background-repeat: no-repeat;
  background-position: 35% 32% ; */
  height: 95vh;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topRight {
  margin-top: 30%;
  padding-left: 40%;
  width: 75%;
}

.bottomLeft {
  width: 100%;
  padding: 0 5%;
  margin-left: 15%;
  margin-bottom: 45%;
}

p.name {
  font-family: 'Ogg Medium', sans-serif;
  font-size: 19px;
}

.bottomLeft p {
  width: 30%;
  margin-top: 10px;
}

.homePhraseContainer {
  width: 90%;
  padding: 5% 20%;
  position: relative; 
}

.homePhrase {
  font-size: 80px;
  line-height: 90px;
  position: relative;
}

/* .homePhraseContainer {
  width: 90%;
  padding: 5% 20%;
  position: relative; 
}

.homePhraseContainer::before {
  content: "";
  background-image: url(../../assets/img/1.png);
  background-repeat: no-repeat;
  background-position: 30%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5; 
}

.homePhrase {
  font-size: 80px;
  line-height: 90px;
  position: relative;
  z-index: 1; 
} */


.homeSpan {
  position: relative;
}

.homeBackground {
  width: 50%; 
}


.homeSpan::after {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  height: 1px; 
  background-color: black; 
  animation: lineAnimation 0.9s ease-in-out; 
  animation-fill-mode: both;
}

.homeSpan:nth-child(2)::after {
  animation-delay: 0.6s; 
}


@keyframes lineAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.arrowContainer {
  /* position: fixed; */
  /* bottom: 20px; */
  /* right: 20px; */
  width: 100%;
  text-align: center;
  align-items: center;
}

.arrowDown {
  width: 100%;
}

.arrowDown img {
  height: 20px;
  width: 35px;
  display: inline-block;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.3s ease, color 0.3s ease;
}

.arrowDown img:hover {
  animation: bounce 1s infinite;
}

.arrowDownLink {
  display: inline-block;
  text-decoration: none; 
  transition: transform 0.9s ease, color 0.3s ease;
}

.arrowDownLink .arrowDown img {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* .bigAboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
} */

