.container,
.navbarContainer {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end; 
  padding: 5px 21px;
  padding-bottom: 25px;
  align-items: center;
  /* border-bottom: 1px solid rgb(200, 200, 200); */
}


.container ul {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
}


.container li {
  margin-left: 40px;
  text-align: right;
  font-size: 15px;
  font-weight: 500;
  border: 0.3px solid black;
  border-radius: 50%; 
  transition: border-color 0.3s ease; 
  padding: 0 20px; 
}

.verticalList {
  list-style: none;
  display: flex;
  margin-top: 1100px;
  transform: rotate(-180deg);
  transform-origin: right top;
  writing-mode: vertical-rl; 
}

.verticalList li {
  margin-top: 50px; 
  font-size: 13px;
  border-left: 0.5px solid transparent; 
}

.verticalList li:hover {
  border-left: 0.5px solid black; 
}

.verticalList hr {
  border: 0.5px solid black;
  margin: 0 10px;
}

.sideContainer {
  display: flex;
  align-items: center;
}

.sideLine {
  height: 50px; 
}


@keyframes menuItemClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.container li:hover {
  animation: menuItemClick 0.3s; 
  border-color: #6b5b4d; 
  border-radius: 50%; 
}

.container li a:hover { 
  color: #392e26;
}

