.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 120px;
  width: 100%;
  height: 100vh;
}

.leftColumn {
  width: 35%; 
  animation: fadeInFromRight 2s ease-out forwards;
}

.rightColumn {
  width: 55%;
  margin-left: 8%;
  animation: fadeInFromLeft 2s ease-out forwards;
}

.projectsWord {
  font-family: 'Ogg Bold', sans-serif;
  text-transform: capitalize;
}

.projectsText {
  font-size: 16px; 
  line-height: 1.5;
  white-space: pre-line;
}

.projectList {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.projectName {
  font-size: 80px; 
  font-family: 'Brown Sugar', sans-serif;
  transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}


.projectDescription {
  font-size: 15px;
  font-family: 'Ogg TRIAL', sans-serif;
  text-transform: lowercase;
  font-weight: 200;
  margin-bottom: 20px;
}

.projectList a.projectName:hover {
  font-style: italic; 
  cursor: pointer; 
  transform: translateX(5px); 
}

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none; 
}

.curtain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  z-index: -1;
  animation: revealContent 0.6s ease-in forwards;
}

@keyframes revealContent {
  from {
    top: 0;
    opacity: 10;
  }
  to {
    top: -100%; 
    opacity: 0;
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(-100%); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(80%); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}


@media (max-width: 414px) and (max-height: 896px) {
  .projectsContainer {
    padding: 0;
    padding-left: 13%;
    width: 100%;
  }
  
  .leftColumn {
    width: 45%; 
  }
  
  .rightColumn {
    width: 55%;
  }
  
  .projectsText {
    font-size: 13px; 
  }

  a.projectName {
    font-size: 35px; 
    margin-bottom: 20px;
    word-wrap: break-word; 
  }
  
  .projectDescription {
    font-size: 13px;
  }
}


@media (min-width: 1853px) {
  a.projectName {
    font-size: 100px; 
  }
} 

@media only screen 
  and (min-device-width: 428px) 
  and (max-device-width: 932px) 
  and (-webkit-device-pixel-ratio: 3) {

    .projectsContainer {
      margin-top: 10%;
      padding-left: 23%;
      padding-right: 3%;
      width: 100%;
      height: 90%;
    }
    
    .leftColumn {
      width: 45%; 
    }
    
    .rightColumn {
      width: 55%;
    }
    
    .projectsText {
      font-size: 13px; 
    }
  
    a.projectName {
      font-size: 35px; 
      margin-bottom: 20px;
      word-wrap: break-word; 
    }
    
    .projectDescription {
      font-size: 13px;
    }
  }

  @media screen and (min-device-width: 1853px) 
  and (max-device-width: 2560px)  {
    .projectsContainer {
      margin-top: 100px;
    }
  }